<section class="user-section-user">
  <!-- USER PROFILE IMAGE -->
  <div class="relative h-12 w-full">
    <div
      class="skeleton relative left-1/2 flex h-40 w-40 -translate-x-1/2 -translate-y-4/5 rounded-full bg-gray-500 sm:h-48 sm:w-48"
    ></div>
  </div>
  <!-- USER PROFILE IMAGE -->
  <ul class="flex flex-col items-center justify-center gap-y-3">
    <!-- USER DESCRIPTION -->
    <li class="skeleton h-4 w-12 bg-gray-500"></li>
    <li class="skeleton flex h-4 w-32 gap-x-3 bg-gray-500 py-3"></li>
  </ul>
  <ul class="flex flex-col items-center justify-center gap-y-3">
    <li class="skeleton h-4 w-12 bg-gray-500"></li>
    <li class="skeleton flex h-4 w-32 gap-x-3 bg-gray-500 py-3"></li>
  </ul>
  <ul class="flex flex-col items-center justify-center gap-y-3">
    <li class="skeleton h-4 w-12 bg-gray-500"></li>
    <li class="skeleton flex h-4 w-32 gap-x-3 bg-gray-500 py-3"></li>
  </ul>
  <ul class="flex flex-col items-center justify-center gap-y-3">
    <li class="skeleton h-4 w-12 bg-gray-500"></li>
    <li class="skeleton flex h-4 w-32 gap-x-3 bg-gray-500 py-3"></li>
  </ul>
  <ul class="flex flex-col items-center justify-center gap-y-3">
    <li class="skeleton h-4 w-12 bg-gray-500"></li>
    <li class="skeleton flex h-4 w-32 gap-x-3 bg-gray-500 py-3"></li>
  </ul>
  <ul class="flex flex-col items-center justify-center gap-y-3">
    <li class="skeleton h-4 w-12 bg-gray-500"></li>
    <li class="skeleton flex h-4 w-32 gap-x-3 bg-gray-500 py-3"></li>
  </ul>
  <!-- USER DESCRIPTION -->
  <!-- USUARIO -->
</section>
