<section class="user-characters-section">
  <div class="flex h-10 w-full justify-center">
    <div class="skeleton h-full w-3/4 bg-gray-500 sm:w-3/4"></div>
  </div>
  <article class="flex justify-center">
    <div class="skeleton h-28 w-20 bg-gray-500 sm:h-40 sm:w-40"></div>
    <div class="user-character-description-container">
      <div class="flex gap-x-4 py-2 pl-4">
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
      </div>
      <div class="flex gap-x-4 py-2 pl-4">
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
      </div>
    </div>
  </article>
  <article class="flex justify-center">
    <div class="skeleton h-28 w-20 bg-gray-500 sm:h-40 sm:w-40"></div>
    <div class="user-character-description-container">
      <div class="flex gap-x-4 py-2 pl-4">
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
      </div>
      <div class="flex gap-x-4 py-2 pl-4">
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
        <div class="flex flex-col gap-y-2">
          <div class="skeleton h-4 w-12 bg-gray-500"></div>
          <div class="skeleton h-4 w-20 bg-gray-500 sm:w-24"></div>
        </div>
      </div>
    </div>
  </article>
</section>
