<header>
  <h2 class="text-center">
    ¿QUÉ ES LO QUE TE ESPERA
    <span class="text-classic-main-light">DENTRO DE GTA CLASSIC RP?</span>
  </h2>
</header>
<section
  class="grid grid-cols-1 justify-items-center gap-5 p-8 *:w-full *:max-w-2xs *:overflow-hidden *:rounded-2xl *:p-4 **:select-none *:@md/play:max-w-sm @2xl/play:grid-cols-2 @2xl/play:grid-rows-2"
>
  <article class="group relative h-[16rem]">
    <div
      class="absolute inset-0 rounded-2xl brightness-50 transition-all duration-500 ease-in-out group-hover:brightness-30 group-active:brightness-30"
      aria-hidden="true"
    >
      <img
        ngSrc="images/experience-bg-characters.webp"
        fill
        alt="GTA V Characters Background"
      />
    </div>
    <div
      class="absolute inset-0 z-10 translate-y-full opacity-0 brightness-75 transition-all duration-500 ease-in-out group-hover:translate-y-12 group-hover:opacity-100 group-active:translate-y-12 group-active:opacity-100"
      aria-hidden="true"
    >
      <img
        ngSrc="images/experience-starlet.webp"
        fill
        alt="Experience Starlet Background"
        class="bg-no-repeat object-contain object-bottom-left"
        style="object-position: bottom left 10%"
      />
    </div>
    <h3
      class="absolute top-[50%] left-[50%] -translate-[50%] tracking-[0.2em] transition-all duration-500 ease-in-out group-hover:top-9 group-active:top-9"
    >
      PERSONAJES
    </h3>
    <div
      class="font-gta-light absolute right-12 bottom-6 translate-x-full text-xs opacity-0 transition-all duration-400 ease-in-out group-hover:translate-x-0 group-hover:opacity-100 group-active:translate-x-5 group-active:opacity-100 sm:text-sm"
    >
      <p><span class="text-classic-main-light">Nombre:</span> Zoe Vega</p>
      <p><span class="text-classic-main-light">Edad:</span> 23 años</p>
      <p><span class="text-classic-main-light">Rol:</span> Ciudadana</p>
      <p>
        <span class="text-classic-main-light">Facción:</span>
        Desconocida
      </p>
    </div>
  </article>
  <article class="group relative h-[16rem]">
    <div
      class="absolute inset-0 rounded-2xl brightness-50 transition-all duration-500 ease-in-out group-hover:brightness-30 group-active:brightness-30"
      aria-hidden="true"
    >
      <img
        ngSrc="images/experience-bg-factions.webp"
        fill
        alt="GTA V Factions Background"
      />
    </div>
    <div
      class="absolute inset-0 z-10 translate-x-full translate-y-6 opacity-0 brightness-75 transition-all duration-600 ease-in-out group-hover:translate-x-15 group-hover:opacity-100 group-active:translate-x-15 group-active:opacity-100"
      aria-hidden="true"
    >
      <img
        ngSrc="images/experience-lspd.webp"
        fill
        alt="Experience LSPD Background"
        class="bg-no-repeat object-contain object-right"
      />
    </div>
    <h3
      class="absolute top-[50%] left-[50%] -translate-[50%] tracking-[0.2em] transition-all duration-600 ease-in-out group-hover:top-9 group-active:top-9"
    >
      FACCIONES
    </h3>
    <div
      class="font-gta-light absolute bottom-16 left-10 text-center text-xs sm:text-sm @2xl/play:left-16"
    >
      <p
        class="-translate-x-[150%] opacity-0 transition-all delay-100 duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100 group-active:translate-x-0 group-active:opacity-100"
      >
        - DOJ -
      </p>
      <p
        class="-translate-x-[160%] opacity-0 transition-all delay-150 duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100 group-active:translate-x-0 group-active:opacity-100"
      >
        - LSFD -
      </p>
      <p
        class="group-hover:text-classic-main-light group-active:text-classic-main-light -translate-x-[170%] opacity-0 transition-all delay-200 duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100 group-active:translate-x-0 group-active:opacity-100"
      >
        - LSPD -
      </p>
      <p
        class="-translate-x-[160%] opacity-0 transition-all delay-150 duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100 group-active:translate-x-0 group-active:opacity-100"
      >
        - SAMS -
      </p>
      <p
        class="-translate-x-[150%] opacity-0 transition-all delay-100 duration-300 ease-in-out group-hover:translate-x-0 group-hover:opacity-100 group-active:translate-x-0 group-active:opacity-100"
      >
        - BCSO -
      </p>
    </div>
  </article>
  <article
    class="group relative min-h-[16rem] @2xl/play:col-start-2 @2xl/play:row-span-2 @2xl/play:row-start-1"
  >
    <div
      class="absolute inset-0 rounded-2xl brightness-50 transition-all duration-500 ease-in-out group-hover:brightness-30 group-active:brightness-30"
      aria-hidden="true"
    >
      <img
        class="object-cover"
        ngSrc="images/experience-bg-system.webp"
        fill
        alt="GTA V System Background"
      />
    </div>
    <div
      class="absolute inset-0 z-10 translate-y-full opacity-0 brightness-75 transition-all duration-500 ease-in-out group-hover:translate-y-20 group-hover:opacity-100 group-active:translate-y-20 group-active:opacity-100"
      aria-hidden="true"
    >
      <img
        ngSrc="images/experience-michael.webp"
        fill
        alt="Experience Michael Background"
        class="bg-no-repeat object-contain object-bottom"
      />
    </div>
    <h3
      class="absolute top-[50%] left-[50%] -translate-[50%] tracking-[0.2em] transition-all duration-500 ease-in-out group-hover:top-9 group-active:top-9"
    >
      SISTEMA
    </h3>
    <div
      class="font-gta-light absolute bottom-10 left-1/2 -translate-x-1/2 text-xs opacity-0 transition-all duration-400 ease-in-out group-hover:bottom-44 group-hover:opacity-100 group-active:bottom-44 group-active:opacity-100 sm:text-sm @2xl/play:group-hover:bottom-[28rem] @2xl/play:group-active:bottom-[28rem]"
    >
      <p class="w-64 text-center">
        Desarrollado por jugadores,
        <span class="text-classic-main-light">para jugadores</span>
      </p>
    </div>
  </article>
</section>
