<section class="user-services-container">
  <article class="user-service-container">
    <div class="flex h-10 w-full justify-center">
      <div class="skeleton h-full w-3/4 bg-gray-500 sm:w-full"></div>
    </div>
    <div class="flex justify-center px-4">
      <div class="skeleton h-full w-24 bg-gray-500 sm:h-32 sm:w-36"></div>
      <div class="flex w-full flex-col items-center justify-end gap-y-4">
        <div class="skeleton h-4 w-28 bg-gray-500 sm:h-6"></div>
        <div class="skeleton h-4 w-28 bg-gray-500 sm:h-6"></div>
        <div class="skeleton h-9 w-3/4 bg-gray-500 sm:h-11 sm:w-3/4"></div>
      </div>
    </div>
  </article>
</section>
