<footer class="flex h-auto w-full justify-center bg-black p-8">
  <section
    class="grid w-full grid-cols-1 gap-10 sm:grid-cols-2 lg:max-w-6xl lg:grid-cols-3"
  >
    <article>
      <span class="font-gta">SOBRE NOSOTROS</span>
      <hr />
      <p class="font-poppins text-classic-gray pt-2 text-xs">
        Bienvenido a nuestra comunidad de roleplay en español dedicada al
        universo de GTA. Crea personajes únicos, desarrolla historias
        fascinantes y construye relaciones con otros jugadores.
      </p>
    </article>
    <article>
      <span class="font-gta">INFORMACIÓN LEGAL</span>
      <hr />
      <a
        href=""
        class="font-poppins text-classic-gray hover:text-classic-main pt-2 text-xs underline"
        >Términos y condiciones de uso</a
      >
      <br />
      <a
        href=""
        class="font-poppins text-classic-gray hover:text-classic-main text-xs underline"
      >
        Aviso legal
      </a>
      <br />
      <a
        href=""
        class="font-poppins text-classic-gray hover:text-classic-main text-xs underline"
      >
        Política de privacidad
      </a>
    </article>
    <article>
      <span class="font-gta">CRÉDITOS</span>
      <hr />
      <p class="font-poppins text-classic-gray pt-2 text-xs">
        Todos los iconos utilizados en esta página son propiedad de
        <a
          href="https://www.streamlinehq.com/"
          class="text-classic-main hover:underline"
          target="_blank"
          ><b>Streamline :)</b></a
        >
      </p>
    </article>
    <article class="col-span-full">
      <hr class="text-classic-gray" />
      <p class="font-poppins text-classic-gray pt-2 text-xs">
        GTA Classic RP no está afiliado ni apoyado por Take-Two, Rockstar North
        Interactive o cualquier otro titular de derechos de autor. Todas las
        marcas utilizadas pertenecen a sus respectivos propietarios y no están
        afiliadas ni respaldadas por Take-Two, Rockstar North Interactive.
      </p>
    </article>
  </section>
</footer>
