<header>
  <h2 class="text-center">
    ¿CÓMO PODES
    <span class="text-classic-main-light">JUGAR A GTA CLASSIC RP?</span>
  </h2>
</header>
<section
  class="grid grid-cols-1 gap-5 px-4 py-8 *:h-96 *:w-full *:rounded-2xl *:p-4 @2xl/play:grid-cols-2 @2xl/play:*:h-[28rem] @2xl/play:*:w-2xs @3xl/play:*:w-xs @5xl/play:grid-cols-3"
>
  <article
    class="group relative flex flex-col justify-between bg-black/50 *:not-first:z-10"
  >
    <div
      class="absolute inset-0 h-full w-full brightness-35"
      aria-hidden="true"
    >
      <img
        style="object-fit: cover"
        ngSrc="images/play-bg-1.webp"
        fill
        class="rounded-2xl"
        alt="GTA V Game Background"
      />
    </div>
    <header class="flex flex-none flex-col gap-y-3">
      <div class="flex items-center gap-x-3">
        <button class="bg-classic-main rounded-xl px-6 py-2">
          <h3>1</h3>
        </button>
        <h3>Instala GTA V</h3>
      </div>
      <p class="font-poppins-light text-xs">
        Necesitas una
        <span class="text-classic-main-light">licencia original de GTA V</span>
      </p>
    </header>

    <section class="relative flex h-full w-full items-center justify-center">
      <div class="h-full w-full">
        <img
          style="object-fit: contain"
          ngSrc="/images/gta-v-logo.webp"
          fill
          alt="GTA V Logo"
        />
      </div>
    </section>
    <footer>
      <div
        class="flex w-full justify-center gap-x-5 pb-4 duration-1000 *:transition-colors"
      >
        <a
          href="https://store.steampowered.com/app/3240220/Grand_Theft_Auto_V_Enhanced"
          target="_blank"
          class="rounded-xl bg-black from-[#061836] to-[#004e83] p-2 hover:bg-gradient-to-b"
          aria-label="Ir a comprar GTA V en la página oficial de Steam"
        >
          <app-svg-steam
        /></a>
        <a
          target="_blank"
          href="https://store.epicgames.com/es-ES/p/grand-theft-auto-v"
          class="hover:bg-classic-gray-dark rounded-xl bg-black p-2"
          aria-label="Ir a comprar GTA V en la página oficial de Epic Games"
        >
          <app-svg-epic-games
        /></a>
        <a
          href="https://www.rockstargames.com/gta-v"
          target="_blank"
          class="rounded-xl bg-black p-2 hover:bg-[#ff9900]"
          aria-label="Ir a comprar GTA V en la página oficial de Rockstar Games"
        >
          <app-svg-rockstar
        /></a>
      </div>
      <div class="relative flex h-9 w-full flex-col gap-y-1">
        <p class="font-poppins text-xs">Instalando...</p>
        <div
          class="relative h-4 w-full overflow-hidden rounded-full bg-white/30"
        >
          <div
            class="bg-classic-main-light ease-[cubic-bezier(0.68, -0.6, 0.32, 1.6)] absolute h-full w-0 rounded-full transition-all duration-800 group-hover:w-1/3 group-active:w-1/3"
          ></div>
        </div>
      </div>
    </footer>
  </article>
  <article
    class="group relative flex flex-col justify-between bg-black/50 *:not-first:z-10"
  >
    <div
      class="absolute inset-0 h-full w-full brightness-35"
      aria-hidden="true"
    >
      <img
        style="object-fit: cover"
        ngSrc="images/play-bg-2.webp"
        fill
        class="rounded-2xl"
        alt="GTA V Game Background"
      />
    </div>
    <header class="flex flex-none flex-col gap-y-3">
      <div class="flex items-center gap-x-3">
        <button class="bg-classic-main rounded-xl px-6 py-2">
          <h3>2</h3>
        </button>
        <h3>Instala RageMP</h3>
      </div>
      <p class="font-poppins-light text-xs">
        Necesitas el
        <span class="text-classic-main-light">cliente gratuito de RageMP</span>
      </p>
    </header>
    <section class="flex h-full w-full grow flex-col justify-center">
      <div class="flex w-full items-center justify-center">
        <svg
          class="h-auto w-28"
          viewBox="0 0 31 28"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M27.2881 16.4558C28.2225 15.5742 28.8596 14.021 29.1569 11.7961L29.9638 6.003C30.0063 5.37331 30.0488 4.95352 30.0488 4.74363C30.0488 1.67916 28.18 0 24.7398 0H2.99426L2.1873 5.67766H9.06772H21.2996C22.2764 5.67766 22.7436 6.05547 22.7436 6.85307C22.7436 6.94753 22.733 7.05247 22.7012 7.14693V7.3988L22.3614 9.7916C22.234 10.8411 21.5969 11.3868 20.4926 11.3868H8.26076L1.38033 11.3448L0 21.0735H6.90166L7.4538 17.7991H11.1913L20.9598 28H29.9638L20.2803 17.7991H22.234C24.6973 17.7991 26.3962 17.3373 27.2881 16.4558Z"
            fill="#FFCE34"
          ></path>
        </svg>
      </div>
    </section>
    <footer>
      <div
        class="flex w-full items-end justify-center pb-4 duration-1000 *:transition-colors"
      >
        <a
          href="home#experience"
          class="flex justify-center rounded-xl bg-black p-4 hover:bg-red-500 hover:bg-gradient-to-b"
          aria-label="Ir a ver un video tutorial sobre la instalación de RageMP para jugar en el servidor"
        >
          <app-svg-play class="[&>div>svg]:fill-white" />
        </a>
      </div>
      <div class="relative flex h-9 w-full flex-col gap-y-1">
        <p class="font-poppins text-xs">Ejecutando cliente...</p>
        <div
          class="relative h-4 w-full overflow-hidden rounded-full bg-white/30"
        >
          <div
            class="bg-classic-main-light ease-[cubic-bezier(0.68, -0.6, 0.32, 1.6)] absolute h-full w-1/3 rounded-full transition-all duration-800 group-hover:w-2/3 group-active:w-2/3"
          ></div>
        </div>
      </div>
    </footer>
  </article>
  <article
    class="group relative flex flex-col justify-between bg-black/50 *:not-first:z-10 @2xl/play:col-span-2 @2xl/play:justify-self-center @5xl/play:col-span-1"
  >
    <div
      class="absolute inset-0 h-full w-full brightness-35"
      aria-hidden="true"
    >
      <img
        style="object-fit: cover"
        ngSrc="images/play-bg-3.webp"
        fill
        class="rounded-2xl"
        alt="GTA V Game Background"
      />
    </div>
    <header class="flex flex-none flex-col gap-y-3">
      <div class="flex items-center gap-x-3">
        <button class="bg-classic-main rounded-xl px-6 py-2">
          <h3>3</h3>
        </button>
        <h3>Únete al servidor</h3>
      </div>
      <p class="font-poppins-light text-xs">
        Elegí nuestro servidor,
        <span class="text-classic-main-light">click en Jugar ¡y listo!</span>
      </p>
    </header>
    <footer>
      <div class="relative flex h-9 w-full flex-col gap-y-1">
        <p class="font-poppins text-xs">Conectandóse al servidor...</p>
        <div
          class="relative h-4 w-full overflow-hidden rounded-full bg-white/30"
        >
          <div
            class="bg-classic-main-light ease-[cubic-bezier(0.68, -0.6, 0.32, 1.6)] absolute h-full w-2/3 rounded-full transition-all duration-800 group-hover:w-full group-active:w-full"
          ></div>
        </div>
      </div>
    </footer>
  </article>
</section>
