<section class="user-characters-section">
  <h2 class="text-center">
    MIS <span class="text-classic-main-light">PERSONAJES</span>
  </h2>
  <article class="user-character-container">
    <div class="user-character-image-container">
      <img
        ngSrc="images/user-walter-blanco.webp"
        fill
        class="user-character-image"
        alt="User character image"
      />
    </div>
    <div class="user-character-description-container">
      <div class="user-character-description-container-data">
        <div class="user-character-description-container-data-values">
          <label>
            <span>Nombre</span>
            <br />
            Walter Blanco</label
          >
          <label>
            <span>Edad</span>
            <br />
            43 años</label
          >
        </div>
        <div class="user-character-description-container-data-values">
          <label>
            <span>Facción</span>
            <br />
            LSFD</label
          >
          <label>
            <span>Nivel</span>
            <br />
            28</label
          >
        </div>
      </div>
    </div>
  </article>
  <article class="user-character-container">
    <div class="user-character-image-container">
      <img
        ngSrc="images/user-dante-dixon.webp"
        fill
        class="user-character-image"
        alt="User character image"
      />
    </div>
    <div class="user-character-description-container">
      <div class="user-character-description-container-data">
        <div class="user-character-description-container-data-values">
          <label>
            <span>Nombre</span>
            <br />
            Dante Dixon</label
          >
          <label>
            <span>Edad</span>
            <br />
            24 años</label
          >
        </div>
        <div class="user-character-description-container-data-values">
          <label>
            <span>Facción</span>
            <br />
            LSPD</label
          >
          <label>
            <span>Nivel</span>
            <br />
            21</label
          >
        </div>
      </div>
    </div>
  </article>
</section>
