<section class="user-section-user">
  <!-- USER PROFILE IMAGE -->
  <div class="relative h-12 w-full">
    <div
      class="relative left-1/2 flex h-auto w-40 -translate-x-1/2 -translate-y-4/5 sm:h-48 sm:w-48"
    >
      <img
        src="/images/raze-discord.webp"
        class="h-auto w-full rounded-full object-cover outline-2 outline-black"
        alt="User profile image"
      />
      <app-svg-dot
        class="absolute right-5 bottom-3 rounded-full outline-2 outline-black sm:bottom-5 [&>div]:h-4 [&>div]:w-4 [&>div>svg>g>path]:fill-green-500 [&>div>svg>g>path]:stroke-green-500"
      />
      <!-- BADGES -->
      <div class="user-badges">
        <ul class="flex items-end justify-end gap-x-4">
          <li class="user-badges-item bg-pink-600">
            <app-svg-vip
              class="[&>div]:h-4 [&>div]:w-4 [&>div>svg>path]:stroke-[1.5]"
            />
            <span>VIP</span>
          </li>
          <li class="user-badges-item bg-violet-600">
            <app-svg-staff
              class="[&>div]:h-4 [&>div]:w-4 [&>div>svg>path]:stroke-[3]"
            />
            <span>STAFF</span>
          </li>
          <li class="bg-classic-main user-badges-item">
            <app-svg-checked
              class="[&>div]:h-4 [&>div]:w-4 [&>div>svg>g>path]:stroke-[2]"
            />
            <span>VERIFICADO</span>
          </li>
          <li class="user-badges-item bg-blue-600">
            <app-svg-star
              class="[&>div]:h-4 [&>div]:w-4 [&>div>svg>g>path]:stroke-[2]"
            />
            <span>POLICÍA</span>
          </li>
        </ul>
      </div>
      <!-- BADGES -->
    </div>
  </div>
  <!-- USER PROFILE IMAGE -->
  <ul class="user-description">
    <!-- USER DESCRIPTION -->
    <li>-Usuario-</li>
    <li>leorecsyy<span class="text-classic-gray">#ed8de1</span></li>
  </ul>
  <ul class="user-description">
    <li>-Personajes-</li>
    <li>Walter Blanco - Dante Dixon</li>
  </ul>
  <ul class="user-description">
    <li>-Facciones-</li>
    <li>LSFD - LSPD</li>
  </ul>
  <ul class="user-description">
    <li>-Rol más jugado-</li>
    <li>Policía</li>
  </ul>
  <ul class="user-description">
    <li>-Horas jugadas-</li>
    <li>154</li>
  </ul>
  <ul class="user-description">
    <li>-Logros-</li>
    <li class="flex gap-x-3 py-3">
      <app-svg-skull
        class="[&>div]:h-4 [&>div]:w-4 sm:[&>div]:h-6 sm:[&>div]:w-6"
      />
      <app-svg-infinite
        class="[&>div]:h-4 [&>div]:w-4 sm:[&>div]:h-6 sm:[&>div]:w-6"
      />
      <app-svg-throphy
        class="[&>div]:h-4 [&>div]:w-4 sm:[&>div]:h-6 sm:[&>div]:w-6"
      />
      <app-svg-money-bag
        class="[&>div]:h-4 [&>div]:w-4 sm:[&>div]:h-6 sm:[&>div]:w-6"
      />
      <app-svg-fire
        class="[&>div]:h-4 [&>div]:w-4 sm:[&>div]:h-6 sm:[&>div]:w-6"
      />
    </li>
  </ul>
  <!-- USER DESCRIPTION -->
  <!-- USUARIO -->
</section>
