<section class="form-page">
  <section class="form-section">
    <h3 class="text-center">ACTUALIZAR CONTRASEÑA</h3>
    <form class="form-group" (submit)="handleSubmit($event)">
      <div class="relative flex flex-col">
        <!-- NUEVA CONTRASEÑA -->
        <label class="form-label">
          <app-svg-security-lock
            class="[&>div>svg>g>path]:stroke-classic-main-light"
          />
          <h4>Contraseña</h4>
        </label>
        <input
          [type]="showPassword() ? 'text' : 'password'"
          class="form-input"
          autocomplete="new-password"
          placeholder="Escribí tu contraseña..."
        />
        <!-- SVG -->
        <div
          class="absolute right-0 bottom-0 cursor-pointer px-3 py-1.5"
          (click)="togglePasswordVisibility()"
        >
          @if (showPassword()) {
          <app-svg-eye-open stroke="#0c0c0c" />
          } @else {
          <app-svg-eye-close stroke="#0c0c0c" />
          }
        </div>
        <!-- NUEVA CONTRASEÑA -->
      </div>
      <div class="relative flex flex-col">
        <!-- CONFIRMAR CONTRASEÑA -->
        <label class="form-label">
          <app-svg-security-lock
            class="[&>div>svg>g>path]:stroke-classic-main-light"
          />
          <h4>Confirmar contraseña</h4>
        </label>
        <input
          [type]="showConfirmPassword() ? 'text' : 'password'"
          class="form-input"
          autocomplete="new-password"
          placeholder="Confirma tu contraseña..."
        />
        <!-- SVG -->
        <div
          class="absolute right-0 bottom-0 cursor-pointer px-3 py-1.5"
          (click)="toggleConfirmPasswordVisibility()"
        >
          @if (showConfirmPassword()) {
          <app-svg-eye-open stroke="#0c0c0c" />
          } @else {
          <app-svg-eye-close stroke="#0c0c0c" />
          }
        </div>
        <!-- CONFIRMAR CONTRASEÑA -->
      </div>
      <!-- BOTÓN PARA ENVIAR -->
      <button type="submit" class="form-button">
        <span>Actualizar</span>
        <app-svg-send class="[&>div>svg>g>path]:stroke-[1.5]" />
      </button>
    </form>
  </section>
</section>
<ngx-sonner-toaster richColors position="top-right" />
