<section class="user-services-container">
  <article class="user-service-container">
    <h2>
      MIS
      <span>BENEFICIOS</span>
    </h2>
    <div class="user-service-image-container">
      <div class="flex-col">
        <app-svg-vip
          class="[&>div>svg>path]:stroke-classic-main-light [&>div]:h-16 [&>div]:w-16 sm:[&>div]:h-24 sm:[&>div]:w-24"
        />
        <span>- VIP -</span>
      </div>
      <div class="user-service-description-container">
        <label>
          <span>Estado: </span>
          Activo <br />
          <span>Vence: </span>
          08/08/25
        </label>
        <button class="user-service-button">
          <span>Gestionar</span>
        </button>
      </div>
    </div>
  </article>
</section>
